<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Principal</title>
</head>
<body>
<a href="http://127.0.0.1:8000/admin/" class="btn btn-primary">Panel Administrativo</a>

<div class="col">
    <div class="row mt-2 ml-2">
        <h4>Grilla de Horarios</h4>
    </div>

    <div class="table-responsive-md mt-2 ml-2 mr-2">
        <table class="table  table-hover table-borderless ">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Lunes</th>
                    <th scope="col">Martes</th>
                    <th scope="col">Miercoles</th>
                    <th scope="col">Jueves</th>
                    <th scope="col">Viernes</th>
                    <th scope="col">Sabado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Pase común</th>
                    <td>$1.000</td>
                    <td>x2: $400 <br> x3: $500</td>
                    <td>x2: $500 <br> x3: $700</td>
                    <td>x2: $600 <br> x3: $800</td>
                    <td>x2: $300 <br> x3: $450</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>
    <div class="row mt-4 ml-2">
        <h4>Listado de Precios</h4>
    </div>

    <div class="table-responsive-md mt-2 ml-2 mr-2">
        <table class="table table-hover table-borderless ">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Musculación</th>
                    <th scope="col">Boxeo</th>
                    <th scope="col">Funcional</th>
                    <th scope="col">Crossfit</th>
                    <th scope="col">Pilates</th>
                    <th scope="col">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Pase común</th>
                    <td>$1.000</td>
                    <td>x2: $400 <br> x3: $500</td>
                    <td>x2: $500 <br> x3: $700</td>
                    <td>x2: $600 <br> x3: $800</td>
                    <td>x2: $300 <br> x3: $450</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">Pase Libre</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>x</td>
                    <td>-</td>
                    <td>$1.500</td>
                </tr>
                <tr>
                    <th scope="row">Pase Libre CrossFit</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>$2.000</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>